.hight {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}
.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}
.btn {
  margin-top: 2rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}
